<div class="footer-bottom">
    <div class="bottom-links footer-call">
        <a href="tel:+18003339185" title="Call Us"><span class="icon"></span>800-333-9185</a>
        <p>Mon-Fri, 8am-5pm<br> Mountain Time</p>
    </div>
    {% comment %} <div class="bottom-links footer-email">
        <a href="javascript:void(0)" title="Email Us" onclick="LC_API.open_chat_window();"><span class="icon"></span>Email Us</a>
        <p>We will respond within<br> 1-2 business days.</p>
    </div> {% endcomment %}
    <div class="bottom-links footer-chat">
        <a href="javascript:void(0)" title="Live Chat" onclick="LC_API.open_chat_window();"><span class="icon"></span>Contact Us</a>
        <p>Mon-Fri, 8am-5pm<br> Mountain Time</p>
    </div>
    <div class="bottom-links footer-faqs">
        <a href="/pages/faq" title="FAQs"><span class="icon"></span>FAQs</a>
        <p>Browse frequently asked<br> questions.</p>
    </div>
</div>

<div class="footer-end">
    <address class="copyright">© {{ "now" | date: "%Y" }} Sounds True. All rights reserved.</address>
    <a href="/pages/privacy-policy" title="Privacy Policy">Privacy Policy</a> &nbsp; | &nbsp; <a href="/pages/terms-and-conditions" title="Terms and Conditions">Terms &amp; Conditions</a>
</div>