<div class="pdp-content-details okendo-reviews">
    <h2 class="pdp-meta-title"> REVIEWS</h2>
    <div class="rte">
        <div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}">
            {{ product.metafields.okendo.ProductReviewsWidgetSnippet }}
        </div>
    </div>
</div>