{% if shop.url == 'https://stage1-soundstrue.myshopify.com' %}
  {% assign digital_library_base_url = 'https://staging-ch-flat-earth-vue.digitallibrary.staging-soundstrue.com' %}
{% else %}
  {% assign digital_library_base_url = 'https://digitallibrary.soundstrue.com' %}
{% endif %}
{% assign has_digital_items = false %}
{% for item in order.line_items %}
  {% if item.requires_shipping == false %}
    {% assign has_digital_items = true %}
  {% endif %}
{% endfor %}
{% for item in checkout.line_items %}
  {% if item.requires_shipping == false %}
    {% assign has_digital_items = true %}
  {% endif %}
{% endfor %}
{% if has_digital_items or 1 == 1 %}
<style>
  #password-after-checkout,
  #login-after-checkout,
  #library-after-checkout {
    display:none;
    border:1px solid #0652af;
  }
  #library-after-checkout {
    text-align:center;
  }
  .password-creation-form ul {
    margin:15px 0 30px;
  }
  .password-creation-form ul span {
    display:inline-block;
    width:24px;
  }
  .password-creation-form ul li div {
    letter-spacing:5px;
    display:inline;
  }
  #digital-password-button.disabled {
    opacity:0.2;
  }
  a.pac-button {
    background-color:#0652af;
  }
</style>
<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
<script>
{% if shop.url == 'https://stage1-soundstrue.myshopify.com' %}
  var integromatUrl = 'https://hook.integromat.com/poycju3v366v07v5rdb0xs4ai897p9kf?'; //staging scenario
{% else %}
  var integromatUrl = 'https://hook.integromat.com/1h4qcqq2ewwacq297cy7c8vxk55oclrd'; //production scenario
{% endif %}
  $(document).on(`page:load`, function() {
    console.log(JSON.stringify(Shopify));
    console.log('Shopify.Checkout.isOrderStatusPage: '+Shopify.Checkout.isOrderStatusPage);
    if (Shopify.Checkout.isOrderStatusPage || Shopify.Checkout.step == 'thank_you'){
      console.log('thank you page activation check');
    //get password creation link
      console.log('unless customer');
      {% unless has_digital_items %}{% comment %} change copy if only hard goods {% endcomment %}
      console.log('only hard goods on guest checkout');
      $('#password-after-checkout .os-step__title').text('Create Password To Access Your Account');
      $('#password-after-checkout .os-step__description').text('To finish setting up your digital account to access your order history, please create a password.');
      {% endunless %}
      {% if customer.id > 0 and has_digital_items %}
      console.log('logged in, show go to library link');
      var insertAfter = $('div[data-step="thank_you"]').find('.section__content').find('.content-box').first();
      insertAfter.after($('#library-after-checkout').clone());
      $('#library-after-checkout').show();      
      {% elsif order.customer.id %}  
    $.post( integromatUrl, { customer: {{ order.customer.id }} }, function(data) {
        //alert( "success" );
      console.log('integro url: '+integromatUrl);
        console.log('data2: '+JSON.stringify(data));
        if(typeof data.account_exists != 'undefined') {
          console.log('account exists');
          {% if has_digital_items %}
          var insertAfter = $('div[data-step="thank_you"]').find('.section__content').find('.content-box').first();
          insertAfter.after($('#login-after-checkout').clone());
          $('#login-after-checkout').show();
          {% endif %}
        }
        if(typeof data.account_activation_url != 'undefined') {
          console.log('account activation');
          console.log(data.account_activation_url);
          $('#digital-password-link').attr('href',data.account_activation_url+'?id={{ order.customer.id }}');
          var insertAfter = $('div[data-step="thank_you"]').find('.section__content').find('.content-box').first();
          insertAfter.after($('#password-after-checkout').clone());
          $('#password-after-checkout').show();
        }
      },'json')
        .done(function() {
          //alert( "second success" );
        })
        .fail(function() {
          alert( "Error getting account password creation link. Please contact support." );
        })
        .always(function() {
          //alert( "finished" );
        });
      {% endif %}
    }
  });
</script>
<div id="password-after-checkout" class="content-box">
  <div class="content-box__row text-container">
    <h2 class="heading-2 os-step__title">Create Password To Access Your Library</h2>
    <div class="os-step__special-description">
      <p class="os-step__description">
        To finish setting up your account and to access products in your digital library, please create a password.
      </p>
    </div>
    <div class="password-creation-form">
      <a id="digital-password-link" class="btn pac-button disabled" href="#">Set Up Password</a>
    </div>
  </div>
</div>
<div id="login-after-checkout" class="content-box">
  <div class="content-box__row text-container">
    <h2 class="heading-2 os-step__title">Login To Access My Library</h2>
    <div class="os-step__special-description">
      <p class="os-step__description">
        Please login to access products in your digital library.
      </p>
    </div>
    <div class="password-creation-form">
      <a id="digital-login-link" class="btn pac-button" href="{{ digital_library_base_url }}/login/">Login</a>
    </div>
  </div>
</div>
<div id="library-after-checkout" class="content-box">
  <div class="content-box__row text-container">
    <div class="os-step__special-description">
      <p class="os-step__description">
        Digital products will be available shortly in your Sounds True digital library.
      </p>
    </div>
    <div class="password-creation-form">
      <a id="digital-login-link" class="btn pac-button" href="{{ digital_library_base_url }}/login/">Go to Digital Library</a>
    </div>
  </div>
</div>
{% endif %}
