<div class="nextopia-collection-left-sidebar">
    <div id="CollectionSidebar" class="collection-sidebar">
        <h3 class="sidebar-title">Shop By</h3>
        
        <div class="toggle-content">
            <h3 class="sidebar-subtitle">Currently Shopping by</h3>
            <div class="selected-filters">
                <ul>
                    <li>
                        <span class="text"><span class="label">Format:</span> Audio Download </span>
                        <a href="#" class="btn-remove"></a>
                    </li>
                    <li>
                        <span class="text"> <span class="label">Price:</span> $10.00 to $100.00 </span>
                        <a href="#" class="btn-remove"></a>
                    </li>
                </ul>
            </div>
            
            <div class="filter-actions">
                <a class="remove-all" href="#">Remove All Filters</a>
            </div>
            
            <button type="button" class="main-collapsible-trigger--mobile">Filter</button>
            <div class="narrow-by-list">
                <div class="collection-sidebar__group">
                    <button type="button" 
                            class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header is-open" 
                            aria-controls="CollectionSidebar-1" 
                            aria-expanded="true">
                        Format
                    </button>
                    <div id="CollectionSidebar-1" class="collapsible-content collapsible-content--sidebar is-open">
                        <div class="collapsible-content__inner">
                            <ul class="no-bullets tag-list">
                                <li> <a class="tag tag--active" href="#"> Audio Download <span class="count">(1242)</span> </a> </li>
                                <li> <a class="tag" href="#"> Board Book <span class="count">(3)</span> </a> </li>
                                <li> <a class="tag" href="#"> CD <span class="count">(828)</span> </a> </li>
                                <li> <a class="tag" href="#"> CE Credits <span class="count">(151)</span> </a> </li>
                                <li> <a class="tag" href="#"> Card Deck <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> DVD <span class="count">(47)</span> </a> </li>
                                <li> <a class="tag" href="#"> Digital Home Study Course <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Enhanced eBook <span class="count">(34)</span> </a> </li>
                                <li> <a class="tag" href="#"> Hardcover Book <span class="count">(65)</span> </a> </li>
                                <li> <a class="tag" href="#"> Home Study Course <span class="count">(11)</span> </a> </li>
                                <li> <a class="tag" href="#"> Home Study Program <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Interactive Course <span class="count">(38)</span> </a> </li>
                                <li> <a class="tag" href="#"> Interactive Video Course <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Live In-Person Event <span class="count">(2)</span> </a> </li>
                                <li> <a class="tag" href="#"> Other <span class="count">(5)</span> </a> </li>
                                <li> <a class="tag" href="#"> Paperback Book <span class="count">(139)</span> </a> </li>
                                <li> <a class="tag" href="#"> Self-Guided Course <span class="count">(19)</span> </a> </li>
                                <li> <a class="tag" href="#"> Self-Guided Video Course <span class="count">(35)</span> </a> </li>
                                <li> <a class="tag" href="#"> Video Download <span class="count">(47)</span> </a> </li>
                                <li> <a class="tag" href="#"> eBook <span class="count">(134)</span> </a> </li>
                                <li class="view-toggle"> <a class="show-more" href="#"> View 10 More </a> </li>
                                <li class="view-toggle"> <a class="show-less" href="#"> View Less </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="collection-sidebar__group">
                    <button type="button" 
                            class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header is-open" 
                            aria-controls="CollectionSidebar-2" 
                            aria-expanded="true">
                        Author
                    </button>
                    <div id="CollectionSidebar-2" class="collapsible-content collapsible-content--sidebar is-open">
                        <div class="collapsible-content__inner">
                            <ul class="no-bullets tag-list">
                                <li> <a class="tag" href="#"> A.H. Almaas <span class="count">(18)</span> </a> </li>
                                <li> <a class="tag" href="#"> Aaravindha Himadra <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Acharya Shunya <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Adreanna Limbach <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Adyashanti <span class="count">(22)</span> </a> </li>
                                <li> <a class="tag" href="#"> Agapi Stassinopoulos <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Ainslie MacLeod <span class="count">(5)</span> </a> </li>
                                <li> <a class="tag" href="#"> Alan Clements <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Alan Finger <span class="count">(2)</span> </a> </li>
                                <li> <a class="tag" href="#"> Alan Watts <span class="count">(9)</span> </a> </li>
                                <li> <a class="tag" href="#"> Andrew Newberg <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Andrew Weil <span class="count">(21)</span> </a> </li>
                                <li> <a class="tag" href="#"> Angeles Arrien <span class="count">(11)</span> </a> </li>
                                <li> <a class="tag" href="#"> Angie Lucas <span class="count">(1)</span> </a> </li>
                                <li> <a class="tag" href="#"> Ann Marie Chiasson <span class="count">(3)</span> </a> </li>
                                <li class="view-toggle"> <a class="show-more" href="#"> View 5 More </a> </li>
                                <li class="view-toggle"> <a class="show-less" href="#"> View Less </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="collection-sidebar__group">
                    <button type="button" 
                            class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height tag-list__header is-open" 
                            aria-controls="CollectionSidebar-3" 
                            aria-expanded="true">
                        Price
                    </button>
                    <div id="CollectionSidebar-3" class="collapsible-content collapsible-content--sidebar is-open">
                        <div class="collapsible-content__inner">
                            <ul class="no-bullets tag-list">
                                <li>
                                    <input type="number" class="price price-min" placeholder="From" size="2" />
                                    <span> - </span>
                                    <input type="number" class="price price-max" placeholder="To" size="2" />
                                    <button type="submit" name="price-filter-btn" class="price-filter-btn">
                                        <span class="price-filter-btn-label">
                                            Find
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>