<div class="page-width">
  <div class="page-not-found">
    <div class="mandala"></div>
    <div class="page-not-found__content">
      <h1>Page Not Found</h1>
      <h2>Keep on Looking!</h2>
      <h3>Paths of all types encounter a stopping point—You found one on our site!</h3>
      <p>If you need further help, please contact our Customer Service team! </p>
      <p>Email us at <a style="white-space:nowrap;" href="mailto:support@soundstrue.com">support@soundstrue.com</a> or call <a style="white-space:nowrap;" href="tel:+1-800-333-9185">800-333-9185</a>, Monday-Friday 8am-5pm MT.</p>
      <p>Outside the US? Email us at <a style="white-space:nowrap;" href="mailto:support@soundstrue.com">support@soundstrue.com</a> or call <a style="white-space:nowrap;" href="tel:+1-303-665-3151">+1-303-665-3151.</a></p>
    </div>
  </div>
</div>
