{% render 'shogun-products', content: collection %}

{{collection.metafields.shogun.above}}
{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item grid__item--content">
      {% section 'collection-template' %}
    </div>
  </div>
</div>



{{collection.metafields.shogun.below}}


